<a href="{{object_url}}" class="stream-photo-link">
  <img src="{{image_url}}" data-small-photo="{{image_url}}" data-full-photo="{{image_url}}" class="stream-photo" />
  <div id="{{photo_path(post.photos.first)}}">.</div>
</a>
