%li= link_to 'Tor', "https://diasporgc3d32vv4.onion"
%li= link_to 'i2p', "http://diasporg.i2p"
%li= link_to 'diaspora*', "https://diasporafoundation.org"
%li= link_to 'Wiki', "https://wiki.diasporafoundation.org"
%li= link_to 'Twitter', "https://twitter.com/diasporg"
%li= link_to 'Blog', "https://b.diasp.org"
%li= link_to 'Support', "https://dia.so/support"
%li= link_to 'Dia.so', "https://dia.so"
%li= link_to t('layouts.application.whats_new'), changelog_url
%li= link_to t('layouts.header.code') + " " + pod_version, "#{source_url}", {:title => t('layouts.application.source_package')}
%li= link_to t("layouts.application.statistics_link"), statistics_path
%li= link_to(t('layouts.application.toggle'), toggle_mobile_path)
- if AppConfig.settings.terms.enable?
    %li= link_to(t('_terms'), terms_path)
