-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  (function() {
  var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
  s.type = 'text/javascript';
  s.async = true;
  s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto';
  t.parentNode.insertBefore(s, t);
  })();

- if AppConfig[:open_invitations]
  .section
    .title
      = image_tag('https://c790230.ssl.cf2.rackcdn.com/plus.png')
      %h5
        = t('shared.invitations.invite_your_friends')
    .content
      = render "shared/invitations"

- unless AppConfig[:paypal_hosted_button_id].blank?
  .section
    .title
      = image_tag('https://c790230.ssl.cf2.rackcdn.com/coffee.png')
      %h4
        = link_to t('aspects.index.donate'), "/supportyourpod", :rel => "facebox" 
    .content
      = t('aspects.index.keep_pod_running', :pod => URI.parse(AppConfig[:pod_url]).host)      
      = link_to t('aspects.index.donate'), "/supportyourpod", :rel => "facebox"
      %h4
        Use Paypal, Amazon, Bitcoin, Google, Flattr and more to support this pod, KEEP the ads Away!
      %br
      <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="https://diasp.org"></a>
      %br
      = link_to(image_tag('https://c790230.ssl.cf2.rackcdn.com/promote.gif'), "/promote")
      %br
      Share the pod with your other Social Networks!
      %br
      = link_to(image_tag('https://c790230.ssl.cf2.rackcdn.com/t-shirt.gif', :style => "position:relative;"), "http://cafepress.com/diasporg", :target => "new")
      %br
      Order some merch and promote Diaspora*

.section
  .title
    = image_tag('https://c790230.ssl.cf2.rackcdn.com/heart.png')
    %h5
      = t('aspects.index.new_here.title')
  .content
    != t('aspects.index.new_here.follow', :link => link_to("#"+t('shared.publisher.new_user_prefill.newhere'), tag_path(:name => t('shared.publisher.new_user_prefill.newhere'))))
    %br
    = link_to(t('aspects.index.new_here.learn_more'), "https://github.com/diaspora/diaspora/wiki/Welcoming-Committee")

.section
  .title
    = image_tag('https://c790230.ssl.cf2.rackcdn.com/question.png')
    %h5
      = t('aspects.index.help.need_help')
  .content
    = t('aspects.index.help.here_to_help')
    %br
    = t('aspects.index.help.do_you')
    %br
    != t('aspects.index.help.have_a_question', :link => link_to("#"+t('aspects.index.help.tag_question'), tag_path(:name => t('aspects.index.help.tag_question'))))
    %br
    != t('aspects.index.help.find_a_bug', :link => link_to("#"+t('aspects.index.help.tag_bug'), tag_path(:name => t('aspects.index.help.tag_bug'))))
    %br
    != t('aspects.index.help.feature_suggestion', :link => link_to("#"+t('aspects.index.help.tag_feature'), tag_path(:name => t('aspects.index.help.tag_feature'))))
    %br
    %br
    %p
      <a rel="facebox" href="/status">markdown help</a>
      %br
      Follow the pod on <a target="_new" href="http://twitter.com/diasporg">twitter</a> and <a target="_new" href="http://facebook.com/diasp.org">facebook</a> and <a target="_new" href="http://b.diasp.org">blog</a> and on <a href="http://webchat.freenode.net/?channels=#diasporg" target="_blank">IRC</a>
      %br
      Have posts in languages you can not read? <a target="_new" href="http://userscripts.org/scripts/show/91276">Translate</a>
      %br
      != t('aspects.index.help.feature_and_forum', :gs=> link_to("GetSatisfaction", "http://getsatisfaction.com/diaspora", :target => '_blank'), :forum => link_to("Forum", "http://www.diasporaforum.org/", :target => '_blank'))
    %p
      != t('aspects.index.help.tutorials_wiki_and_forum', :tutorial => link_to("Diasporial" , "http://diasporial.com/tutorials", :target => '_blank'), :wiki => link_to('Wiki','http://github.com/diaspora/diaspora/wiki', :target => '_blank'), :forum => link_to("Forum", "http://www.diasporaforum.org/", :target => '_blank'))
    %p
      != t('aspects.index.help.email_feedback', :link => link_to(t('.email_link'), "mailto:feedback@joindiaspora.com"))

- unless AppConfig.configured_services.blank? || all_services_connected?
  .section
    .title
      = image_tag('https://c790230.ssl.cf2.rackcdn.com/monotone_wrench_settings.png')
      %h5
        = t('aspects.index.services.heading')
    .content
      %div
        = t('aspects.index.services.content')

      #right_service_icons
        - AppConfig.configured_services.each do |service|
          - unless current_user.services.any?{|x| x.provider == service}
            = link_to(image_tag("social_media_logos/#{service.to_s.downcase}-24x24.png", :title => service.to_s.titleize), "/auth/#{service}")

.section
  .title
    = image_tag('https://c790230.ssl.cf2.rackcdn.com/bookmark.png')
    %h5
      = t('bookmarklet.heading')
  .content
    != t('bookmarklet.explanation', :link => link_to(t('bookmarklet.post_something'), magic_bookmarklet_link))

.section
  .title
    = image_tag('https://c790230.ssl.cf2.rackcdn.com/emailforward.png')
    %h5
      Forward your @diasp.org address to your email address
  .content
    On this pod you can <a rel="facebox" href="/forwardemail">forward</a> your pod handle to your email account.

%footer
  .section
    %ul#footer_nav
      %li= link_to 'Twitter', "http://twitter.com/diasporg"
      %li= link_to 'Facebook', "http://facebook.com/diasp.org"
      %li= link_to 'Blog', "http://b.diasp.org"
      %li= link_to 'Source Code', "https://github.com/diasporg/diaspora"
      %li= link_to 'Privacy Policy', "/privacy-policy.html"
      %li= link_to 'Terms of Service', "/toc.html"
      %li= link_to(t('layouts.application.toggle'), toggle_mobile_path)  if is_mobile_device?
    = image_tag 'https://c790230.ssl.cf2.rackcdn.com/powered_by_diaspora.png', :height => "11px", :width => "145px"

