-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  (function() {
  var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
  s.type = 'text/javascript';
  s.async = true;
  s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto';
  t.parentNode.insertBefore(s, t);
  })();

- if AppConfig[:open_invitations]
  .section
    .title
      = image_tag('/images/icons/plus.png')
      %h5
        = t('shared.invitations.invite_your_friends')
    .content
      = render "shared/invitations"

- unless AppConfig[:paypal_hosted_button_id].blank?
  .section
    .title
      = image_tag('/images/icons/coffee.png')
      %h5
        = t('aspects.index.donate')
      %br
        <a class="FlattrButton" href="https://diasp.org"></a>
      %br
        One time donations via Bitcoin, Google, Paypal, Amazon <a href="http://b.diasp.org/donations/">Here</a>
    .content
      = t('aspects.index.keep_us_running', :pod => URI.parse(AppConfig[:pod_url]).host)
      %br
      = render 'shared/donate'

- unless has_connected_cubbies?
  .section
    .title
      = image_tag('/images/icons/cubbies.png')
      %h5
        = t('aspects.index.cubbies.heading')
    .content
      = t('aspects.index.cubbies.explanation')
      = link_to t('aspects.index.cubbies.learn_more'), token_path

- unless AppConfig.configured_services.blank? || all_services_connected?
  .section
    .title
      = image_tag('/images/icons/monotone_wrench_settings.png')
      %h5
        = t('aspects.index.services.heading')
    .content
      %div
        = t('aspects.index.services.content')

      #right_service_icons
        - AppConfig.configured_services.each do |service|
          - unless current_user.services.any?{|x| x.provider == service}
            = link_to(image_tag("social_media_logos/#{service.to_s.downcase}-24x24.png", :title => service.to_s.titleize), "/auth/#{service}")

.section{:style => "height:190px;"}
  .title
    = image_tag('/images/icons/help.png')
    %h5
      Help and Support
  .content
    Getting Started? Check out <a href="http://www.diasporial.com/" target="_new">Diasporial</a> for a news and tutorials.<br> 
    Links to <a rel="facebox" href="/help">general help</a> and <a rel="facebox" href="/status">markdown help</a>.<br>
    Updates are often found on our <a target="_new" href="http://b.diasp.org">blog</a> or <a target="_new" href="http://twitter.com/diasporg">twitter</a> and yes even on <a target="_new" href="http://facebook.com/diasp.org">facebook</a>. If your interested in pod dev see: #diasporg on freenode irc.
    Have posts in languages you can not read? <a target="_new" href="http://userscripts.org/scripts/show/91276">Translate</a> them to your language!

.section
  .title
    = image_tag('/images/icons/bookmark.png')
    %h5
      = t('bookmarklet.heading')
  .content
    != t('bookmarklet.explanation', :link => link_to(t('bookmarklet.explanation_link_text'), bookmarklet))

.section
  .title
    = image_tag('/images/icons/emailforward.png')
    %h5
      Forward your @diasp.org address to your email address
  .content
    On this pod you can <a rel="facebox" href="/forwardemail">forward</a> your pod handle to your email account.

