-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

:javascript
  function chat()
  {
  var username = '#{current_user.diaspora_handle}';
  var name = username.split('@');
  mywindow = window.open("http://www.diasp.org:9090/?channels=diasporg&nick="+name[0], "chat", "toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,scrollbars=1, width=700, height=600");
  mywindow.moveTo(0, 0);
  }
  (function() {
  var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
  s.type = 'text/javascript';
  s.async = true;
  s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto';
  t.parentNode.insertBefore(s, t);
  })();

- content_for :head do
  = include_javascripts :home
.span-15.append-2
  #aspect_stream_container
    = render 'aspect_stream',
      :aspect => @aspect,
      :aspect_ids => @aspect_ids,
      :posts => @posts

.span-7.last
  #home_user_badge
    = owner_image_link
    %h3{:style => "position:relative;"}
      = current_user.name
      .description
        = link_to current_user.diaspora_handle, person_path(current_user.person)

  - if @notification_count > 0 || @request_count > 0
    #new_requests
      - if @request_count > 0
        %h4
          = new_request_link(@request_count)
  %h4.section.invite_friends
    != t('bookmarklet.explanation', :link => link_to(t('bookmarklet.explanation_link_text'), bookmarklet))
  .section.invite_friends
    %h4
      Diasporg Pod 
    Welcome to Diaspora Pod Diasp.org. We have a temporary <a onclick="chat();">chat</a> room on IRC set up until chat is built in. Need <a rel="facebox" href="/help">help</a> with Diaspora? Have posts in languages you can not read? <a target="_new" href="http://userscripts.org/scripts/show/91276">Translate</a> them to your language! On this pod you can <a rel="facebox" href="/forwardemail">forward</a> your pod handle to your email account. Updates are often found on our <a target="_new" href="http://b.diasp.org">blog</a> or <a target="_new" href="http://twitter.com/diasporg">twitter</a>. Please consider <a rel="facebox" href="/status">donating</a> to the pod or flattr us, keep the pod ad free!
    <br><a class="FlattrButton" style="display:none;" href="https://diasp.org"></a>
  - if @invites > 0
    .section.invite_friends
      %h4= t('shared.invitations.invite_your_friends')
      = render "shared/invitations", :invites => @invites


  #aspect_listings.section
    = render 'aspects/aspect_listings', :aspects => @aspects

  - if @invites <= 0
    .section.invite_friends
      %h4= t('shared.invitations.invite_your_friends')
      = render "shared/invitations", :invites => @invites
